<ion-header>
  <ion-toolbar>
    <ion-title>tab5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color='secondary'>Pengalaman</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Pengalaman yang saya dapatkan dalam kelas pemrogaman mobile berbasis web dapat dibilang cukup banyak seperti saya 
      dapat belajar melakukan versioning pada project sehingga projek yang saya kerjakan dapat menjadi teratur dan terbackup 
      dengan baik. Selain itu saya dapat belajar cara membuat aplikasi gallery foto sederhana yang tersambungkan secara langsung
      dengan firebase storage.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color='secondary'>Kritik & Saran</ion-card-title>
    </ion-card-header>
    
    <ion-chip>
      <ion-label color="secondary">Kritik</ion-label>
    </ion-chip>
    <ion-card-content>
      Materi Video yang diberikan beberapa jam sebelum kelas dan berdurasi cukup panjang cukup mempersulit mahasiswa untuk menyelesaikan tepat waktu sebelum jam kelas
    </ion-card-content>

    <ion-chip>
      <ion-label color="secondary">Saran</ion-label>
    </ion-chip>
    <ion-card-content>
      Materi Video dapat diberikan H-1 sebelum kelas jika memungkinkan atau pagi hari di hari H kelas sehingga mahasiswa mempunyai waktu lebih banyak untuk mengikuti materi yang diberikan
    </ion-card-content>

  </ion-card>
</ion-content>
