<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label color='primary'> Nama: Marcel Slamet Sugianto </ion-label> <br>
  </ion-item>
  <ion-item>
    <ion-label color='primary'> NRP: C14180033 </ion-label> <br>
  </ion-item>
  <ion-item>
    <ion-label color='primary'> Email: C14180033@john.petra.ac.id </ion-label> <br>
  </ion-item>
  <ion-item>
    <ion-label color='primary'> No.HP : 082240191913 </ion-label> <br>
  </ion-item>

</ion-content>
